*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'san-serif';
    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #ffffff;    
}

.container{
    background: #ffffff;
    border-color: #12589F;
}

.container h2{
    height: 100px;
    text-align: center;
}

.container h3{
    height: 50px;
    text-align: center;
    color: #525252;
}

.archivos {
    width: 100%;
    height: 100px;
}

.archivos input{
    background: #12589F;
    color: #ffffff;
}

 .cargar{
    width: 100%;
    height: 50px;
    
}

.cargar input{
    width: 100%;
    height: 50px;
    background: #12589F;
    color: #ffffff;
}

