*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background:  #F6F8F9 0% 0% no-repeat padding-box;
}

.container{
  max-width: 550px;
  width: 100%;
  background:#F6F8F9 0% 0% no-repeat padding-box;
  padding: 25px 30px;
  border-radius: 5px;
}

.container .datos-ingreso{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.datos-ingreso .input-box{
  margin: 20px 0 12px 0;
    width: calc(100% /2 - 20px);
}

.datos-ingreso .input-box .datos{
  font-weight: 500;
  margin-bottom: 5px;
  font: normal normal bold 13px/20px Acumin Pro
}

.datos-ingreso .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
}

.botones{
  height: 45px;
    margin: 45px 0;
}

.botones input{
  height: 45px;
  width: 100%;
  outline: none;
  color: #fff;
  font: normal normal bold 11px/20px Helvetica;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: #12589F 0% 0% no-repeat padding-box;
}

.botones .boton{
  margin: 20px 0 12px 0;
  width: 100%;
}
