<body>
  <div class="container">
    <div class="logo">
        <img src="Logo.png">
    </div>
    <div class="datos-ingreso">
        <div class="input-box">
            <span class="datos">Correo:</span>
            <input type="text" class="correo">
        </div>
        <div class="input-box">
            <span class="datos">Contraseña:</span>
            <input type="password" class="contraseña">
        </div>
    </div>
    <div class="botones">
        <div class="boton">
            <input type="submit" class="ingresar" value="Ingresar">
        </div>
        <div class="boton">
            <input type="submit" class="registro" value="Registró">
        </div>
    </div>
  </div>

</body>
