
<body>
    <div class="container">

        <div class="container-logo">
            <div class="logo">
                <img src="Logo.png">
            </div>
        </div>
        
        <div class="container-accion">
            <h2>¿Que desea hacer?</h2>
    
            <div class="botones">
                <div class="boton">
                    <input type="submit" value="Cargar Archivos">
                </div>
        
                <div class="boton">
                    <input type="submit" value="Ver estado de archivos">
                </div>
        
                <div class="boton">
                    <input type="submit" value="Ver informe de empresas">
                </div>
        
                <div class="boton">
                    <input type="submit" value="Ver informe de empleados">
                </div>
            </div>
        </div>
        
    </div>
</body>