
<body>
  <div class="container">
    <div class="logo">
      <img src="Logo.png">
  </div>

  <div class="datos-registro">
    <h2>Registrarse</h2>

      <div class="input-box">
          <span class="datos">Nombre:</span>
          <input type="text" class="nombre">
      </div>
      <div class="input-box">
          <span class="datos">Apellido:</span>
          <input type="text" class="apellido">
      </div>
      <div class="input-box">
          <span class="datos">Correo:</span>
          <input type="text" class="correo">
      </div>
      <div class="input-box">
          <span class="datos">Contraseña:</span>
          <input type="password" class="contraseña">
      </div>
      <div class="input-box">
          <span class="datos">Confirmacion Contraseña:</span>
          <input type="password" class="confirmacion">
      </div>
      <div class="boton">
        <input type="submit" value="Continuar">
      </div>
      <div class="boton">
        <input type="submit" value="Cancelar">
      </div>
  </div>
  </div>

</body>
