<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <div class="logo">
        <img src="Logo.jpeg">
    </div>
    <div class="datos">
        <div class="input-box">
            <span class="datos">Nombre</span>
            <input type="text" class="nombre">
        </div>
        <div class="input-box">
            <span class="datos">Apellido</span>
            <input type="text" class="apellido">
        </div>
        <div class="input-box">
            <span class="datos">Correo</span>
            <input type="text" class="correo">
        </div>
        <div class="input-box">
            <span class="datos">Contraseña</span>
            <input type="password" class="contraseña">
        </div>
        <div class="input-box">
            <span class="datos">Confirmacion Contraseña</span>
            <input type="password" class="confirmacion">
        </div>
    </div>
    <div class="botones">
        <div class="boton">
            <input type="submit" value="Continuar">
        </div>
    </div>
</body>
</html>
